# Azure openai settings
AZURE_OPENAI_API_VERSION="API_VERSION"
AZURE_OPENAI_ENDPOINT="https://-yourdeployment-.openai.azure.com/"
AZURE_OPENAI_API_KEY="YOUR_AZURE_OPENAI_API_KEY"
AZURE_OPENAI_DEPLOYMENT="YOUR_MODEL_NAME"
# Azure maps settings
AZURE_MAPS_KEY="YOUR_AZURE_MAPS_KEY"
# Mapbox key
MAPBOX_MAPS_KEY="YOUR_MAPBOX_KEY"
